.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.emojii {
  font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-remove {
  margin-top: 2rem;
}
